$spacing: 5px;

#projects-board {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: $spacing;
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 201px;

  &.expanded {
    left: 0;
  }

  h1 {
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .wrapper {
    float: left;
    position: relative;

    article.project {
      position: absolute;
      text-align: center;

      top: $spacing;
      right: $spacing;
      bottom: $spacing;
      left: $spacing;

      &.unknown {
        @include project-box($dark-gray);
      }

      &.success {
        @include project-box($green);
      }

      &.failed {
        @include project-box($red);
      }

      &.building {
        @include project-box($yellow);


        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 1;
          overflow: hidden;
          @include background-image(linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent ));
          @include background-size(50px 50px);
          @include animation(move 2s linear infinite);
        }
      }

      &.failed.building {
        background-color: #f0a3a3;
        @include background-image(linear-gradient(#f0a3a3, #B20000));
      }

      p.status {
        margin-top: 20px;
      }
    }

    h1, p {
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

@include keyframes(move) {
  0% {
     background-position: 0 0;
  }
  100% {
     background-position: 50px 50px;
  }
}
